.page-template-template-page-builder-php #content, 
.page-template-template-page-builder-php .content, 
.page-template-template-page-builder-php .site-inner {
	max-width: 100% !important;
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
}